<div class="container-fluid btn-light p-5">
    <form method="POST">
    <h1 class="display-4">
      <input type="text" class="form-control" name="surveytitle" value="Customer Satisfaction Survey Template"></h1><br>
      <div class="form-group">
        <label>1. </label>
        <input type="text" class="form-control" name="question1" value="Overall, how satisfied or dissatisfied are you with our company?">
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
        <label class="form-check-label" for="radioExample1">
          <input type="text" class="form-control" name="q1op1" value="Very satisfied">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
        <label class="form-check-label" for="radioExample2">
          <input type="text" class="form-control" name="q1op2" value="Somewhat satisfied ">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q1op3" value="Neither satisfied nor dissatisfied"> 
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q1op4" value="Somewhat dissatisfied">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q1op5" value="Very dissatisfied">
        </label>
      </div>
  
  
      <div class="form-group">
        <label>2. </label>
        <input type="text" class="form-control" name="question2" value="Which of the following words would you use to describe our products? Select all that apply.">
      </div>
      <div class="form-group">
        <input class="form-check-input" type="checkbox" name="exampleForm" id="flexCheckDefault1" />
        <label class="form-check-label" for="flexCheckDefault1">
          <input type="text" class="form-control" name="q2op1" value="Reliable">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="checkbox" name="exampleForm" id="flexCheckDefault2" />
        <label class="form-check-label" for="flexCheckDefault2">
          <input type="text" class="form-control" name="q2op2" value="High quality">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="checkbox" name="exampleForm" id="flexCheckDefault3" />
        <label class="form-check-label" for="flexCheckDefaultrs3">
          <input type="text" class="form-control" name="q2op3" value="Useful"> 
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="checkbox" name="exampleForm" id="flexCheckDefault3" />
        <label class="form-check-label" for="flexCheckDefault3">
          <input type="text" class="form-control" name="q2op4" value="Unique">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="checkbox" name="exampleForm" id="flexCheckDefault3" />
        <label class="form-check-label" for="flexCheckDefault3">
          <input type="text" class="form-control" name="q2op5" value="Good value for money">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="checkbox" name="exampleForm" id="flexCheckDefault3" />
        <label class="form-check-label" for="flexCheckDefault3">
          <input type="text" class="form-control" name="q2op6" value="Overpriced">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="checkbox" name="exampleForm" id="flexCheckDefault3" />
        <label class="form-check-label" for="flexCheckDefault3">
          <input type="text" class="form-control" name="q2op7" value="Unreliable">
        </label>
      </div>
  
  
      <div class="form-group">
        <label>3. </label>
        <input type="text" class="form-control" name="question3" value="How well do our products meet your needs?">
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
        <label class="form-check-label" for="radioExample1">
          <input type="text" class="form-control" name="q3op1" value="Extremely well">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
        <label class="form-check-label" for="radioExample2">
          <input type="text" class="form-control" name="q3op2" value="Very well">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q3op3" value=" Somewhat well "> 
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q3op4" value="Not so well">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q3op5" value="Not at all well ">
        </label>
      </div>
  
      <div class="form-group">
        <label>4. </label>
        <input type="text" class="form-control" name="question4" value="How would you rate the quality of the product?">
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
        <label class="form-check-label" for="radioExample1">
          <input type="text" class="form-control" name="q4op1" value="Very high quality">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
        <label class="form-check-label" for="radioExample2">
          <input type="text" class="form-control" name="q4op2" value="High quality">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q4op3" value="Neither high nor low quality"> 
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q4op4" value="Low quality">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q4op5" value="Very low quality">
        </label>
      </div>
  
      <div class="form-group">
        <label>5. </label>
        <input type="text" class="form-control" name="question5" value="How would you rate the value for money of the product?">
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
        <label class="form-check-label" for="radioExample1">
          <input type="text" class="form-control" name="q5op1" value="Excellent">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
        <label class="form-check-label" for="radioExample2">
          <input type="text" class="form-control" name="q5op2" value="Above average">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q5op3" value="Average"> 
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q5op4" value="Below average">
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
        <label class="form-check-label" for="radioExample3">
          <input type="text" class="form-control" name="q5op5" value="Poor">
        </label>
      </div>
  
      <br>
      <input type="submit" class="btn btn-primary" value="Login">
      <a type="button" class="btn btn-secondary" href="/">Cancel</a>
    </form>
    
  </div>
