
<div class="container-fluid btn-light p-5">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Coronavirus Leadership Check-In</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/survey1" class="btn btn-success">Use this template</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Customer Satisfaction Survey Template</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/survey2" class="btn btn-success">Use this template</a>
            </div>
          </div>
        </div>
        <br><br><br>
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Employee Engagement Survey Template</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/survey3" class="btn btn-success">Use this template</a>
              </div>
            </div>
          </div>
      </div>
      
</div>